/* tailwind-ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* BACKGROUND TIPO FORTINET EXACTO (Sin rastro de azul) */
body {
    background-color: #353c44 !important; /* Gris plomo de Fortinet */
    background-image: none !important;
    color: #e5e7eb;
    min-height: 100vh;
    overflow-x: hidden;
}

#app {
    background-color: transparent !important;
    min-height: 100vh;
}

/* Custom Scrollbar Fortinet */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #272d33; /* Color del sidebar */
}
::-webkit-scrollbar-thumb {
    background: #ea580c; /* Naranja corporativo */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c2410c; 
}